#obradaDobavljaca {
  padding: 1% 5%;
}

#tablePorudzbenice {
  overflow: scroll;
  height: 250px;
}
.porudzbenice-container {
  height: 250px;
}

#tableDobavljaci {
  overflow: scroll;
  height: 150px;
}

#tablePorudzbenica {
  overflow: scroll;
  height: 300px;
}
